<div class="card">
    <div class="current-date-container">
        <span class="current-date">
            {{ currentDate.day }}/{{ currentDate.month }}/{{ currentDate.year }}
        </span>
    </div>
    <div class="section">
        <div class="logo">
            <div id="logo">
                <img src="assets/images/logo-its.png" alt="Logo ITS Solutions">
            </div>
        </div>
        <div class="content">
            <div>
                <h3>Bienvenido/a al Sistema de Gestión Interno de Proyectos (GIP).</h3>
                <hr>
                <p style="font-size: 1rem;">El presente sistema tiene como propósito hacer gestión y seguimiento de proyectos. <br>
                    Está compuesto de los siguientes módulos:
                </p>
                <ul class="flag-list">
                    <li *ngFor="let item of menuItems">{{item.label}}</li>
                </ul>
            </div>
        </div>
    </div>
</div>