<nav class="page-breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/estimacion-tiempos/datosBasicos/unidad-funcional">Unidad Funcional</a></li>
    <li class="breadcrumb-item active" aria-current="page">Formulario: Unidad funcional</li>
  </ol>
</nav>

<div class="spinner-wrapper" style="display: none;" id="con_spinner">
  <div class="spinner"></div>
</div>

<div *ngIf="!ultimoContenidoUfs">
  <p>No se ha cargado el último contenido de UFS.</p>
  <button (click)="cargarUltimoContenidoUfs()">Cargar Último Contenido</button>
</div>


<div class="row justify-content-center" id="occ">
  <div class="col-md-12 grid-margin stretch-card">
    <div class="card">
      <div class="card-body">
        <h6 class="card-title">Nuevo Contenido de Unidad Funcional</h6>
      
        
        <button id="botonCrearUfs" type="button" class="btn btn-primary mb-4 mr-3" (click)="toggleNuevoUfsForm()"> Siguiente unidad funcional</button>
        <form *ngIf="!showNuevoUfsForm && ultimoContenidoUfs" [formGroup]="formSubfuncion" (ngSubmit)="saveSubfuncion()">
          <div *ngIf="nuevoIdUfs" class="alert alert-success mt-4">
            Trabajando en la Unidad funcional 1
          </div>
          <div class="row">
            <div class="form-group col-sm-5">
              <label for="funcion">Función</label>
              <select formControlName="funcion" class="form-control" id="funcion">
                <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                <option *ngFor="let funcion of funciones" [ngValue]="funcion">{{ funcion.funcion }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="submitted && fcsub.funcion.invalid && fcsub.funcion.touched">
                <div *ngIf="fcsub.funcion.errors.required">Este campo es requerido.</div>
              </div>
            </div>
           
            <div class="form-group col-sm-5">
              <label for="mantenimientoUnidad">Mantenimiento de Unidad</label>
              <select formControlName="mantenimientoUnidad" class="form-control" id="mantenimientoUnidad" (change)="onMantenimientoChange($event)">
                <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                <option *ngFor="let mantenimiento of mantenimientos" [ngValue]="mantenimiento">{{ mantenimiento.nombre }} -- {{ mantenimiento.peso }}</option>
              </select>
              <div class="invalid-feedback" *ngIf="submitted && fcsub.mantenimientoUnidad.invalid && fcsub.mantenimientoUnidad.touched">
                <div *ngIf="fcsub.mantenimientoUnidad.errors.required">Este campo es requerido.</div>
              </div>
            
            </div>

            <div class="form-group col-sm-12 col-md-6">
              <label for="descripcion">Descripción</label>
              <input formControlName="descripcion" class="form-control" id="descripcion" placeholder="Descripción de la Subfunción">
              <div class="invalid-feedback" *ngIf="submitted && fcsub.descripcion.invalid && fcsub.descripcion.touched">
                <div *ngIf="fcsub.descripcion.errors.required">Este campo es requerido.</div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group col-sm-12">
              <button type="submit" class="btn btn-primary">Guardar Subfunción</button>
            </div>
          </div>
        </form>
        

        <form *ngIf="!showNuevoUfsForm && ultimoContenidoUfs " [formGroup]="formCreaContenidoUfs" (ngSubmit)="saveContenidoUfs()">
          <div class="form-row">
            <div class="form-group col-sm-12 col-md-6">
              <label for="nombreCaso">Nombre del Caso</label>
              <input type="text" formControlName="nombreCaso" class="form-control" id="nombreCaso" placeholder="Nombre del Caso">
              <div class="invalid-feedback" *ngIf="submitted && fc.nombreCaso.invalid && fc.nombreCaso.touched">
                <div *ngIf="fc.nombreCaso.errors.required">Este campo es requerido.</div>
              </div>
            </div>
            <!-- Inicio del formulario de Subfuncion -->
          

        
          </div>

        <h6 class="card-title">Porcentajes y Horas</h6>
        <div class="form-row">
          <div class="form-group col-sm-12 col-md-4">
            <label for="porcentajeDiseno">Porcentaje de Diseño</label>
            <input type="text" formControlName="porcentajeDiseno" class="form-control" id="porcentajeDiseno" (ngModelChange)="calcularTotales()">
            <div class="invalid-feedback" *ngIf="submitted && fc.porcentajeDiseno.invalid && fc.porcentajeDiseno.touched">
              <div *ngIf="fc.porcentajeDiseno.errors.required">Este campo es requerido.</div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-4">
            <label for="horaDiseno">Hora Diseño</label>
            <input type="text" formControlName="horaDiseno" class="form-control" id="horaDiseno" [value]="horasDiseno" readonly>
          </div>
          <div class="form-group col-sm-12 col-md-4">
            <label for="totalAjusteDiseno">Total con Ajuste Diseño</label>
            <input type="text" class="form-control" id="totalAjusteDiseno" [value]="totalAjusteDiseno" readonly>
          </div>
          <div class="form-group col-sm-12 col-md-4">
            <label for="totalDiseno">Total Diseño</label>
            <input type="text"  class="form-control" id="totalDiseno" [value]="totalDiseno" readonly>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12 col-md-4">
            <label for="porcentajeConstruccion">Porcentaje Construcción</label>
            <input type="text" formControlName="porcentajeConstruccion" class="form-control" id="porcentajeConstruccion" (ngModelChange)="calcularTotales()">
            <div class="invalid-feedback" *ngIf="submitted && fc.porcentajeConstruccion.invalid && fc.porcentajeConstruccion.touched">
              <div *ngIf="fc.porcentajeConstruccion.errors.required">Este campo es requerido.</div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-4">
            <label for="horaConstruccion">Hora Construcción</label>
            <input type="text" formControlName="horaConstruccion" class="form-control" id="horaConstruccion" [value]="horasConstruccion" readonly>
          </div>
          <div class="form-group col-sm-12 col-md-4">
            <label for="totalAjusteConstruccion">Total con Ajuste Construcción</label>
            <input type="text" class="form-control" id="totalAjusteConstruccion" [value]="totalAjusteConstruccion" readonly>
          </div>
          <div class="form-group col-sm-12 col-md-4">
            <label for="totalConstruccion">Total Construcción</label>
            <input type="text" class="form-control" id="totalConstruccion" [value]="totalConstruccion" readonly>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group col-sm-12 col-md-4">
            <label for="porcentajePruebas">Porcentaje Pruebas</label>
            <input type="text" formControlName="porcentajePruebas" class="form-control" id="porcentajePruebas" (ngModelChange)="calcularTotales()">
            <div class="invalid-feedback" *ngIf="submitted && fc.porcentajePruebas.invalid && fc.porcentajePruebas.touched">
              <div *ngIf="fc.porcentajePruebas.errors.required">Este campo es requerido.</div>
            </div>
          </div>
          <div class="form-group col-sm-12 col-md-4">
            <label for="horaPruebas">Hora Pruebas</label>
            <input type="text" formControlName="horaPruebas" class="form-control" id="horaPruebas" [value]="horasPruebas" readonly>
          </div>
          <div class="form-group col-sm-12 col-md-4">
            <label for="totalAjustePruebas">Total con Ajuste Pruebas</label>
            <input type="text" class="form-control" id="totalAjustePruebas" [value]="totalAjustePruebas" readonly>
          </div>

          <div class="form-group col-sm-12 col-md-4">
            <label for="totalPruebas">Total Pruebas</label>
            <input type="text"  class="form-control" id="totalPruebas" [value]="totalPruebas" readonly>
          </div>
        </div>

    

        <div class="form-group">
          <button type="submit" class="btn btn-primary mr-2">Guardar</button>
          <button type="button" class="btn btn-light" routerLink="/contenidoUfs/lista">Cancelar</button>
        </div>

        <!-- Form closing tag for the first form -->
      </form>

   <!-- Inicio del formulario de Subfuncion -->
   <form *ngIf="showNuevoUfsForm && ultimoContenidoUfs " [formGroup]="formSubfuncion" (ngSubmit)="saveSubfuncion()">
    <button type="button" class="btn btn-primary mb-4 mr-3" (click)="crearSiguienteIdUfs()">Crear Siguiente ID UFS</button>

   
    <div *ngIf="nuevoIdUfs" class="alert alert-success mt-4">
      Trabajando en la Unidad funcional {{ nuevoIdUfs }}
    </div>
    
    <div class="row">
      <div class="form-group col-sm-5">
        <label for="funcion">Función</label>
        <select formControlName="funcion" class="form-control" id="funcion">
          <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
          <option *ngFor="let funcion of funciones" [ngValue]="funcion">{{ funcion.funcion }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="submitted && fcsub.funcion.invalid && fcsub.funcion.touched">
          <div *ngIf="fcsub.funcion.errors.required">Este campo es requerido.</div>
        </div>
      </div>
     
      <div class="form-group col-sm-5">
        <label for="mantenimientoUnidad">Mantenimiento de Unidad</label>
        <select formControlName="mantenimientoUnidad" class="form-control" id="mantenimientoUnidad" (change)="onMantenimientoChange($event)">
          <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
          <option *ngFor="let mantenimiento of mantenimientos" [ngValue]="mantenimiento">{{ mantenimiento.nombre }} -- {{ mantenimiento.peso }}</option>
        </select>
        <div class="invalid-feedback" *ngIf="submitted && fcsub.mantenimientoUnidad.invalid && fcsub.mantenimientoUnidad.touched">
          <div *ngIf="fcsub.mantenimientoUnidad.errors.required">Este campo es requerido.</div>
        </div>
      
      </div>

      <div class="form-group col-sm-12 col-md-6">
        <label for="descripcion">Descripción</label>
        <input formControlName="descripcion" class="form-control" id="descripcion" placeholder="Descripción de la Subfunción">
        <div class="invalid-feedback" *ngIf="submitted && fcsub.descripcion.invalid && fcsub.descripcion.touched">
          <div *ngIf="fcsub.descripcion.errors.required">Este campo es requerido.</div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="form-group col-sm-12">
        <button type="submit" class="btn btn-primary">Guardar Subfunción</button>
      </div>
    </div>
  </form>

  <form *ngIf="showNuevoUfsForm && ultimoContenidoUfs" [formGroup]="formCrearNuevoUfs" (ngSubmit)="crearNuevoUFS()">
    <div class="form-row">
      <div class="form-group col-sm-12 col-md-6">
        <label for="nombreCaso">Nombre del Caso</label>
        <input type="text" formControlName="nombreCaso" class="form-control" id="nombreCaso" placeholder="Nombre del Caso">
        <div class="invalid-feedback" *ngIf="submitted && fcNuevoUfs.nombreCaso.invalid && fcNuevoUfs.nombreCaso.touched">
          <div *ngIf="fcNuevoUfs.nombreCaso.errors.required">Este campo es requerido.</div>
        </div>
      </div>
      <!-- Inicio del formulario de Subfuncion -->
      <!-- Aquí puedes incluir el código para el formulario de subfunción si es necesario -->
    </div>
  
   
    <h6 class="card-title">Porcentajes y Horas</h6>
    <div class="form-row">
      <div class="form-group col-sm-12 col-md-4">
        <label for="porcentajeDiseno">Porcentaje de Diseño</label>
        <input type="text" formControlName="porcentajeDiseno" class="form-control" id="porcentajeDiseno" (ngModelChange)="calcularTotalAjusteNu()">
        <div class="invalid-feedback" *ngIf="submitted && fcNuevoUfs.porcentajeDiseno.invalid && fcNuevoUfs.porcentajeDiseno.touched">
          <div *ngIf="fcNuevoUfs.porcentajeDiseno.errors.required">Este campo es requerido.</div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <label for="horaDiseno">Hora Diseño</label>
        <input type="text" formControlName="horaDiseno" class="form-control" id="horaDiseno" [value]="horasDiseno" readonly>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <label for="totalAjusteDiseno">Total con Ajuste Diseño</label>
        <input type="text" class="form-control" id="totalAjusteDiseno" [value]="totalAjusteDiseno" readonly>
      </div>

      <div class="form-group col-sm-12 col-md-4">
        <label for="totalDiseno">Total Diseño</label>
        <input type="text" class="form-control" id="totalDiseno" [value]="totalDiseno" readonly>
      </div>

      
    </div>

    <div class="form-row">
      <div class="form-group col-sm-12 col-md-4">
        <label for="porcentajeConstruccion">Porcentaje Construcción</label>
        <input type="text" formControlName="porcentajeConstruccion" class="form-control" id="porcentajeConstruccion" (ngModelChange)="calcularTotalAjusteNu()">
        <div class="invalid-feedback" *ngIf="submitted && fcNuevoUfs.porcentajeConstruccion.invalid && fcNuevoUfs.porcentajeConstruccion.touched">
          <div *ngIf="fcNuevoUfs.porcentajeConstruccion.errors.required">Este campo es requerido.</div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <label for="horaConstruccion">Hora Construcción</label>
        <input type="text" formControlName="horaConstruccion" class="form-control" id="horaConstruccion" [value]="horasConstruccion" readonly>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <label for="totalAjusteConstruccion">Total con Ajuste Construcción</label>
        <input type="text" class="form-control" id="totalAjusteConstruccion" [value]="totalAjusteConstruccion" readonly>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <label for="totalConstruccion">Total Construcción</label>
        <input type="text" class="form-control" id="totalConstruccion" [value]="totalConstruccion" readonly>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-sm-12 col-md-4">
        <label for="porcentajePruebas">Porcentaje Pruebas</label>
        <input type="text" formControlName="porcentajePruebas" class="form-control" id="porcentajePruebas" (ngModelChange)="calcularTotalAjusteNu()">
        <div class="invalid-feedback" *ngIf="submitted && fcNuevoUfs.porcentajePruebas.invalid && fcNuevoUfs.porcentajePruebas.touched">
          <div *ngIf="fcNuevoUfs.porcentajePruebas.errors.required">Este campo es requerido.</div>
        </div>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <label for="horaPruebas">Hora Pruebas</label>
        <input type="text" formControlName="horaPruebas" class="form-control" id="horaPruebas" [value]="horasPruebas" readonly>
      </div>
      <div class="form-group col-sm-12 col-md-4">
        <label for="totalAjustePruebas">Total con Ajuste Pruebas</label>
        <input type="text" class="form-control" id="totalAjustePruebas" [value]="totalAjustePruebas" readonly>
      </div>

      <div class="form-group col-sm-12 col-md-4">
        <label for="totalPruebas">Total Pruebas</label>
        <input type="text" class="form-control" id="totalPruebas" [value]="totalPruebas" readonly>
      </div>
    </div>
    
   
  
    <div class="form-group">
      <button type="submit" class="btn btn-primary mr-2">Guardar</button>
      <button type="button" class="btn btn-light" routerLink="/contenidoUfs/lista">Cancelar</button>
    </div>
  </form>
  <!-- tu-componente.component.html -->
  <div class="table-responsive">
    <table>
      <thead>
        <tr>
          <th>Mantenimiento</th>
          <th>Peso</th>
          <th *ngFor="let ufsId of uniqueUfsIds">UFS {{ ufsId }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let mantenimiento of mantenimientosPorUfs">
          <td>{{ mantenimiento.nombre }}</td>
          <td>{{ mantenimiento.peso }}</td>
          <td *ngFor="let ufs of mantenimiento.ufsCounts">{{ ufs.count }}</td>
        </tr>
      </tbody>
    </table>
  </div>
  

    </div>
  </div>
</div>
