<div class="tabla">
    <table>
      <thead>
        <tr>
          <th>Diseño</th>
          <th>Construccion</th>
          <th>Pruebas</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="casilla">
              <p>Nombre del casn de uso</p>
              <p>Complejidad</p>
              <p>Artefactos/</p>
              <p>Horas</p>
              <p>Ajuste</p>
              <p>Total con</p>
            </div>
            <div class="casilla">
              <p>Actividades</p>
            </div>
          </td>
          <td>
            <div class="casilla">
              <p>Nombre del casn de uso</p>
              <p>Complejidad</p>
              <p>Artefactos/</p>
              <p>Horas</p>
              <p>Ajuste</p>
              <p>Total con</p>
            </div>
            <div class="casilla">
              <p>Actividades</p>
            </div>
          </td>
          <td>
            <div class="casilla">
              <p>Nombre del casn de uso</p>
              <p>Complejidad</p>
              <p>Artefactos/</p>
              <p>Horas</p>
              <p>Ajuste</p>
              <p>Total con</p>
            </div>
            <div class="casilla">
              <p>Actividades</p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="casilla">
              <p>Base de datos</p>
              <p>0.00</p>
              <p>-</p>
              <p>0.00</p>
              <p>-</p>
              <p>0.00</p>
            </div>
            <div class="casilla">
              <p>Agregar Fila</p>
            </div>
          </td>
          <td>
            <div class="casilla">
              <p>Parametrización</p>
              <p>0.00</p>
              <p>-</p>
              <p>0.00</p>
              <p>-</p>
              <p>0.00</p>
            </div>
            <div class="casilla">
              <p>Agregar Fila</p>
            </div>
          </td>
          <td>
            <div class="casilla">
              <p>Procesos</p>
              <p>0.00</p>
              <p>-</p>
              <p>0.00</p>
              <p>-</p>
              <p>0.00</p>
            </div>
            <div class="casilla">
              <p>Agregar Fila</p>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <div class="casilla">
              <p>Totales</p>
              <p>-</p>
              <p>-</p>
              <p>-</p>
              <p>-</p>
              <p>0.00</p>
            </div>
            <div class="casilla">
              <p>-</p>
            </div>
          </td>
          <td>
            <div class="casilla">
              <p>-</p>
              <p>-</p>
              <p>-</p>
              <p>-</p>
              <p>-</p>
              <p>0.00</p>
            </div>
            <div class="casilla">
              <p>-</p>
            </div>
          </td>
          <td>
            <div class="casilla">
              <p>-</p>
              <p>-</p>
              <p>-</p>
              <p>-</p>
              <p>-</p>
              <p>0.00</p>
            </div>
            <div class="casilla">
              <p>-</p>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  