<nav class="page-breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/proyectos">Proyectos</a></li>
      <li class="breadcrumb-item"><a routerLink="/estimacion-tiempos/mant-unidad-programacion">Unidad de Programación</a></li>
  </ol>
</nav>
<div class="body">
  <h6 class="card-title"> Parametría Unidades de programación </h6>
  <div class="main-container" style="background-color: #ffffff; padding: 20px; border-radius: 8px; color: #000;">
      <div class="separated-buttons">
          <button class="btn btn-primary" (click)="crearUnidad()">
              Crear Unidad
          </button>
          <button class="btn btn-primary" (click)="visualizarUnidad()">
              Visualizar Unidad
          </button>
      </div>

      <form *ngIf="validador">
          <div class="input-section">
              <div class="form-group col-12">
                  <label for="unit-name-1">Nombre de la nueva Unidad de Programación</label>
                  <input [(ngModel)]="unidadNueva.nombre" type="text" name="nombreNuevo" class="form-control" 
                      placeholder="Ingrese el nombre">
              </div>
          </div>

          <div class="input-section">
              <div class="form-group col-12">
                  <label for="unit-weight-1">Peso de la Unidad de Programación</label>
                  <select [(ngModel)]="unidadNueva.peso" type="text" name="pesoNuevo" class="form-control">
                      <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccione el peso</option>
                      <option *ngFor="let p of pesos" [ngValue]="p">{{ p }}</option>
                  </select>
              </div>
          </div>

          <div class="action-buttons">
              <button class="btn btn-outline-primary" type="submit" (click)="guardarUnidad()">CREAR</button>
              <button class="btn btn-outline-primary" type="button" (click)="cancelarUnidad()">CANCELAR</button>
          </div>
      </form>

      <form *ngIf="!validador">
          <div class="input-section">
              <div class="form-group col-12">
                  <label for="unit-weight-1">Nombre del mantenimiento</label>
                  <select [(ngModel)]="mantenimientoSeleccionado" type="text" name="mantenimientoSeleccionado" class="form-control">
                      <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccione la unidad</option>
                      <option *ngFor="let mantimiento of mantenimientosUnidad" [ngValue]="mantimiento">{{ mantimiento.nombre }}</option>
                  </select>
              </div>
          </div>
          <div>
              <button class="btn btn-primary" (click)="buscarUnidad()">Buscar</button>
          </div>
      </form>

      <form *ngIf="!validadorBuscar">
          <div class="form-group col-12">
              <label for="unit-name-1">Nombre de la nueva Unidad de Programación</label>
              <input [(ngModel)]="mantenimientoSeleccionado.nombre" type="text" name="nombreNuevo" class="form-control" 
                  placeholder="Ingrese el nombre">
          </div>

          <div class="input-section">
              <div class="form-group col-12">
                  <label for="unit-weight-1">Peso de la Unidad de Programación</label>
                  <select [(ngModel)]="mantenimientoSeleccionado.peso" type="text" name="pesoNuevo" class="form-control">
                      <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccione el peso</option>
                      <option *ngFor="let p of pesos" [ngValue]="p">{{ p }}</option>
                  </select>
              </div>
          </div>

          <div class="action-buttons">
              <button class="btn btn-outline-primary" type="submit" (click)="actualizarUnidad()">ACTUALIZAR</button>
              <button class="btn btn-outline-primary" type="button" (click)="eliminarUnidad()">ELIMINAR</button>
          </div>
      </form>
  </div>
</div>
