<nav class="page-breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/proyectos">Proyectos</a></li>
      <li class="breadcrumb-item"><a routerLink="/estimacion tiempos/estimaciones">Estimaciones</a></li>
      <li class="breadcrumb-item"><a routerLink="/estimacion tiempos/estimaciones">Mis estimaciones</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear estimación</li>
  </ol>
</nav>

<div class="spinner-wrapper " style="display: none;" id="con_spinner" name="con_spinner">
  <div class="spinner"></div>
</div>

<div class="row justify-content-center" id="occ">
  <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
          <div class="card-body">
              <h6 class="card-title">Nueva Estimación</h6>

                <form [formGroup]="formCreaEstimacion" (ngSubmit)="onSubmit()">
                  <div class="form-row">
                      <div class="form-group col-sm-12 col-md-6">
                          <label for="TipoEstimacion">Seleccionar tipo de estimación</label>
                          <select [(ngModel)]="TiEs" (ngModelChange)="EstimacionElejida()"
                            [ngClass]="{'is-invalid': submittedP && fp.TipoEstimacion.errors}" id="TipoEstimacion"
                              autocomplete="off" class="form-control" name="TipoEst" formControlName="TipoEstimacion">
                              <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                              <option *ngFor="let T of modelos" [ngValue]="T">{{ T.nombre }}</option>                           
                          </select>                        
                       <div class="invalid-feedback" *ngIf="submittedP && fp.TipoEstimacion.errors">
                              <div *ngIf="fp.TipoEstimacion.errors.required">
                                  Este campo es requerido.
                              </div>
                       </div>
                      </div>
                   </div>           
                </form> 


                <form *ngIf="TiEs !== undefined" [formGroup]="formDatosIniciales" (ngSubmit)="onSubmit()">
                  <div class="form-row" >
                      <div class="form-group col-sm-12 col-md-4">
                          <label for="Director">Director de proyecto</label>
                          <select [(ngModel)]="TiEsDi"
                              [ngClass]="{'is-invalid': submittedPp && fpp.Director.errors}" id="Director" autocomplete="off"
                              name="Director" formControlName="Director" class="form-control">
                              <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                              <option *ngFor="let D of Directores" [ngValue]="D">{{D.nombre}}</option>
                          </select>
                           <div class="invalid-feedback" *ngIf="submittedPp && fpp.Director.errors">
                              <div *ngIf="fpp.Director.errors.required">
                                  Este campo es requerido.
                              </div>
                           </div>
                      </div>
                      <div class="form-group col-sm-12 col-md-4">
                        <label for="NombreProyecto">Nombre del proyecto</label>
                        <select [(ngModel)]="TiEsP"
                            [ngClass]="{'is-invalid': submittedPp && fpp.NombreProyecto.errors}" id="NombreProyecto" autocomplete="off"
                            name="NombreProyecto" formControlName="NombreProyecto" class="form-control">
                            <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                            <option *ngFor="let p of proyectos" [ngValue]="p">{{p.nombre}}</option>
                        </select>
                          <div class="invalid-feedback" *ngIf="submittedPp && fpp.NombreProyecto.errors">
                            <div *ngIf="fpp.NombreProyecto.errors.required">
                                Este campo es requerido.
                            </div>
                          </div>
                    </div>
                      <div class="form-group col-sm-12 col-md-4">
                        <label for="fechaCreacion">Fecha de estimación</label>
                       <input [(ngModel)]="estimacionTiempos.fechaCreacion"
                           [ngClass]="{'is-invalid': submittedPp && fpp.fechaCreacion.errors}" type="date"
                            id="fechaCreacion" name="fechaCreacion" formControlName="fechaCreacion"
                            autocomplete="off" class="form-control" />
                         <div class="invalid-feedback" *ngIf="submittedPp && fpp.fechaCreacion.errors">
                            <div *ngIf="fpp.fechaCreacion.errors.required">
                                Este campo es requerido.
                            </div>
                        </div>
                     </div>
                  </div>
                  <div  class="form-row">
                    <div class="form-group col-sm-12 col-md-4">
                        <label for="TipoProyecto">Tipo de proyecto</label>
                        <select [(ngModel)]="TiEsEt"
                            [ngClass]="{'is-invalid': submittedPp && fpp.TipoProyecto.errors}" id="TipoProyecto" autocomplete="off"
                            name="TipoProyecto" formControlName="TipoProyecto" class="form-control">
                            <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                            <option *ngFor="let TP of TipoProyecto" [ngValue]="TP">{{TP.etapa}}</option>
                        </select>
                            <div class="invalid-feedback" *ngIf="submittedPp && fpp.TipoProyecto.errors">
                           <div *ngIf="fpp.TipoProyecto.errors.required">
                                Este campo es requerido.
                            </div>
                         </div> 
                    </div>
                  <div class="form-group col-sm-12 col-md-4">
                      <label for="cicloVida">Ciclo de vida del proyecto</label>
                      <select [(ngModel)]="TiEsCV"
                          [ngClass]="{'is-invalid': submittedPp && fpp.cicloVida.errors}" id="cicloVida" autocomplete="off"
                          name="cicloVida" formControlName="cicloVida" class="form-control">
                          <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                          <option *ngFor="let CV of CicloDeVidaProyecto" [ngValue]="CV">{{CV.tipo}}</option>
                      </select>
                          <div class="invalid-feedback" *ngIf="submittedPp && fpp.cicloVida.errors">
                          <div *ngIf="fpp.cicloVida.errors.required">
                              Este campo es requerido.
                          </div>
                        </div> 
                  </div>
              </div>
                  <div class="form-row">
                      <div class="col-12">
                        <button routerLink="/estimacion tiempos/datosBasicos/unidad-funcional" type="submit" id="btnContinuar" class="btn btn-primary">Continuar</button>
                          <button id="btnGuardar" type="submit" class="btn btn-primary">Guardar</button>
                          <button id="btnCancelar" routerLink="/estimacion tiempos/estimaciones" class="btn btn-light">Cancelar</button>
                      </div>
                  </div>
              </form>
              <form *ngIf="validatorBtn(btnContinue) == true" [formGroup]="formDatosIniciales" (ngSubmit)="onSubmit()">
                <div class="col-12-btnContinuar">
                    <button id="btnContinuar" routerLink="" class="btn btn-primary">Continuar</button>
                </div>
              </form>                         
          </div>
      </div>
  </div>
</div>



