<nav class="page-breadcrumb">
  <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/proyectos">Proyectos</a></li>
      <li class="breadcrumb-item"><a routerLink="/estimacion tiempos/estimaciones">Estimaciones</a></li>
      <li class="breadcrumb-item"><a routerLink="/estimacion tiempos/estimaciones">Mis estimaciones</a></li>
      <li class="breadcrumb-item active" aria-current="page">Crear estimación</li>
  </ol>
</nav>

<div class="spinner-wrapper " style="display: none;" id="con_spinner" name="con_spinner">
  <div class="spinner"></div>
</div>

<div class="row justify-content-center" id="occ">
  <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
          <div class="card-body">
              <h6 class="card-title">Nueva Estimación</h6>

                <form [formGroup]="formCreaEstimacion" (ngSubmit)="onSubmit()">
                  <div class="form-row">
                      <div class="form-group col-sm-12 col-md-6">
                          <label for="TipoEstimacion">Seleccionar tipo de estimación</label>
                          <select [(ngModel)]="TiEs" (ngModelChange)="EstimacionElejida()"
                            [ngClass]="{'is-invalid': submittedP && fp.TipoEstimacion.errors}" id="TipoEstimacion"
                              autocomplete="off" class="form-control" name="TipoEst" formControlName="TipoEstimacion">
                              <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                              <option *ngFor="let T of modelos" [ngValue]="T">{{ T.nombre }}</option>                           
                          </select>                        
                       <div class="invalid-feedback" *ngIf="submittedP && fp.TipoEstimacion.errors">
                              <div *ngIf="fp.TipoEstimacion.errors.required">
                                  Este campo es requerido.
                              </div>
                       </div>
                      </div>
                   </div>           
                </form> 


                <form *ngIf="TiEs !== undefined" [formGroup]="formDatosIniciales" (ngSubmit)="onSubmit()">
                  <div class="form-row" >
                      <div class="form-group col-sm-12 col-md-4">
                          <label for="Director">Seleccionar Cliente</label>
                          <select [(ngModel)]="selectedClienteId" (change)="onClienteSelected()"
                              [ngClass]="{'is-invalid': submittedPp && fpp.Cliente.errors}" id="Cliente" autocomplete="off"
                              name="Cliente">
                              <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                              <option *ngFor="let Cl of clientes" [ngValue]="Cl.id">{{Cl.nombre}}</option>
                          </select>
                           <div class="invalid-feedback" *ngIf="submittedPp && fpp.Cliente.errors">
                              <div *ngIf="fpp.Cliente.errors.required">
                                  Este campo es requerido.
                              </div>
                           </div>
                      </div>
                      <div class="form-group col-sm-12 col-md-4">
                        <label for="NombreProyecto">Proyectos Asociados</label>
                        <select [(ngModel)]="TiEsP"
                            [ngClass]="{'is-invalid': submittedPp && fpp.NombreProyecto.errors}" id="NombreProyecto" autocomplete="off"
                            name="NombreProyecto" formControlName="NombreProyecto" class="form-control">
                            <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                            <option *ngFor="let p of proyectos" [ngValue]="p">{{p.nombre}}</option>
                        </select>
                          <div class="invalid-feedback" *ngIf="submittedPp && fpp.NombreProyecto.errors">
                            <div *ngIf="fpp.NombreProyecto.errors.required">
                                Este campo es requerido.
                            </div>
                          </div>
                    </div>
                      <div class="form-group col-sm-12 col-md-4">
                        <label for="fechaCreacion">Fecha de estimación</label>
                       <input [(ngModel)]="estimacionTiempos.fechaCreacion"
                           [ngClass]="{'is-invalid': submittedPp && fpp.fechaCreacion.errors}" type="date"
                            id="fechaCreacion" name="fechaCreacion" formControlName="fechaCreacion"
                            autocomplete="off" class="form-control" />
                         <div class="invalid-feedback" *ngIf="submittedPp && fpp.fechaCreacion.errors">
                            <div *ngIf="fpp.fechaCreacion.errors.required">
                                Este campo es requerido.
                            </div>
                        </div>
                     </div>
                  </div>
                  <div  class="form-row">
                  <!-- <div class="form-group col-sm-12 col-md-4">
                    <label for="cicloVida">Unidades funcionales</label>
                    <select [(ngModel)]="selectUfs"
                        [ngClass]="{'is-invalid': submittedPp && fpp.unidadFuncional.errors}" id="unidadFuncional" 
                        name="unidadFuncional" formControlName="unidadFuncional" class="form-control">
                        <option [ngValue]="undefined" [disabled]="true" [hidden]="true">Seleccionar opción</option>
                        <option *ngFor="let UF of ufsOptions" [ngValue]="UF">{{UF.nombre}}</option>
                    </select>
                        <div class="invalid-feedback" *ngIf="submittedPp && fpp.unidadFuncional.errors">
                        <div *ngIf="fpp.cicloVida.errors.required">
                            Este campo es requerido.
                        </div>
                      </div> 
                </div> -->
              </div>
                  <div class="form-row">
                      <div class="col-12">
                          <button id="btnGuardar" type="submit" class="btn btn-primary">Guardar</button>
                          <button id="btnCancelar" routerLink="/estimacion tiempos/estimaciones" class="btn btn-light">Cancelar</button>
                      </div>
                  </div>
              </form>
              <form *ngIf="validatorBtn(btnContinue) == true" [formGroup]="formDatosIniciales" (ngSubmit)="onSubmit()">
                <div class="col-12-btnContinuar">
                    <button id="btnContinuar" routerLink="/estimacion tiempos/datosBasicos/unidad-funcional" class="btn btn-primary">Continuar</button>
                </div>
              </form>                         
          </div>
      </div>
  </div>
</div>



