  <nav class="page-breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a routerLink="/proyectos">Proyectos</a></li>
      <li class="breadcrumb-item"><a routerLink="/estimacion-tiempos/estimaciones">Estimaciones</a></li>
      <li class="breadcrumb-item active" aria-current="page">Mis estimaciones</li>
    </ol>
  </nav>

  <div class="row">
    <div class="col-md-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-12 col-sm">
              <h6 class="card-title">Administración de estimaciones</h6>
            </div>
            <div class="col-12 col-sm d-flex justify-content-end align-items-center">
              <a class="btn btn-outline-primary" href="javascript:void(0);" id="btnNuevoProyecto" routerLink="/estimacion tiempos/crear-estimacion"> Nueva estimación </a>          </div>
          </div>
          <mat-form-field id="inputSearch">
            <mat-label>Buscar</mat-label>
            <input matInput (keyup)="filtrar($event)" placeholder="Buscar">
          </mat-form-field>
          <br />
          <mat-checkbox class="checkfiltro" [(ngModel)]="checked" (change)="clearFiltro($event)">{{checked ? 'Limpiar Filtro' : 'Filtrar:'}}</mat-checkbox>
          <div *ngIf="checked">
            <mat-grid-list cols="7" rowHeight="50px">
              <mat-grid-tile>
                <mat-checkbox [(ngModel)]="proyectoChecked" class="checkproyecto" (change)="clearFiltroProyecto($event)">Proyecto</mat-checkbox>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-checkbox [(ngModel)]="clienteChecked" class="checkcliente" (change)="clearFiltroCliente($event)">Cliente</mat-checkbox>
              </mat-grid-tile>
              <mat-grid-tile>
                <mat-checkbox [(ngModel)]="estadoChecked" class="checkestado" (change)="clearFiltroEstado($event)">Estado</mat-checkbox>
              </mat-grid-tile>
            </mat-grid-list>
          </div>

          <div class="table-responsive">
            <table mat-table [dataSource]="dataSource" class="table-hover" style="width: 100%;" matSort (matSortChange)="sortData($event)">
              <!-- Columnas de la tabla -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef mat-sort-header class="mdi mdi-15px">Código</th>
                <td mat-cell *matCellDef="let row">{{ row.id }}</td>
              </ng-container>

              <ng-container matColumnDef="proyecto">
                <th mat-header-cell *matHeaderCellDef class="mdi mdi-15px">
                  <mat-label mat-sort-header>
                    Proyecto
                  </mat-label>
                  <mat-form-field *ngIf="proyectoChecked"><br>
                    <mat-select id="Proyec" (selectionChange)="onSelectEstado($event)" [(ngModel)]="limpiarFiltroProyecto">
                      <mat-option *ngFor="let pro of proyectos" [value]="pro.id">
                        {{pro.nombre}} - {{pro.descripcion}}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row">{{ row.proyecto }}</td>
              </ng-container>
              

              <ng-container matColumnDef="cliente">
                <th mat-header-cell *matHeaderCellDef class="mdi mdi-15px">
                  <mat-label mat-sort-header>
                    Cliente
                  </mat-label>
                  <mat-form-field *ngIf="clienteChecked"> <br>   
                    <mat-select id="clienteProyec" (selectionChange)="onSelectEstado($event)" [(ngModel)]="limpiarFiltroCliente">
                      <mat-option *ngFor="let clien of client" [value]="clien.id">{{ clien.nombre }}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row">{{ row.cliente }}</td>
              </ng-container>

              <ng-container matColumnDef="estadoPropuesta">
                <th mat-header-cell *matHeaderCellDef class="mdi mdi-15px">
                  <mat-label mat-sort-header>
                    Estado propuesta
                  </mat-label>
                  <mat-form-field *ngIf="estadoChecked"> <br>   
                    <mat-select id="estadPropues" (selectionChange)="onSelectEstado($event)"
                    [(ngModel)]="limpiarFiltroEstado">
                      <mat-option *ngFor="let estad of estadoPropues" [value]="estad.id">{{estad.estado}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                </th>
                <td mat-cell *matCellDef="let row">{{ row.estadoPropuesta }}</td>
              </ng-container>

              <ng-container matColumnDef="ver">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  <a (click)="ver(row)" class="mdi mdi-24px mdi-eye" ngbTooltip="ver"></a>
                </td>
              </ng-container>

              <ng-container matColumnDef="editar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  <a (click)="editar(row)" class="mdi mdi-24px mdi-pencil" ngbTooltip="editar"></a>
                </td>
              </ng-container>

              <ng-container matColumnDef="eliminar">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let row" class="text-center">
                  <a (click)="eliminar(row)" class="mdi mdi-24px mdi-delete-forever" ngbTooltip="Eliminar"></a>
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>